@import '../../css/variables.scss';
@import '../../css/mixinAndFunctions.scss';

.host {
    grid-area: hote;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    & > h3 {
        color: $primary-color;
        font-size: 0.85rem;
        display: flex;
        width: 120px;
        text-align: right;
        justify-content: flex-end;
        @include media(desktop) {
            width: 63px;
            font-size: 1.2rem;
        }
    }
    .author-picture {
        grid-area: content;
        object-fit: cover;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}
