.chevron {
	width: 30px;
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;

	@media screen and (min-width: $breakpoint-desktop) {
		width: 15px;
	}
}

.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}


