#root{
    display: grid;
    grid-template-areas: ". header ."
        ". heading ."
        ". main .";
}

#root > header{
    grid-area: header ;
}
#root > main{
    grid-area: main ;
}


@media screen AND (min-width: 1240px) {
    #root {
        grid-template-columns: auto 1240px auto;
    }
    
}