*{
    box-sizing: border-box;
}





#root{
    display: grid;
    grid-template-areas: ". header ."
        ". heading ."
        ". main ."
        "footer footer footer";
}

#root > header{
    grid-area: header ;
}
#root > main{
    grid-area: main ;
}

#root > footer{
    grid-area: footer;
}

@media screen AND (min-width: 1240px) {
    #root {
        grid-template-columns: auto 1240px auto;
    }
    
}