.collapsible{
	
background-color: white;
padding: 1rem 0;
grid-area: collapse1;
}





.chevron{
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    height: 3.5rem;
	align-items: center;
	padding: 1rem;
}

.chevron::after{
	content:"";
	background-image: url(/public/images/vectorHaut.svg);
	width: 30px;
	height: 30px;
    background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;
    display: block;
    background-position: center;
	/* background-color:grey; */
	color:white;

	/* @media screen and (min-width: $breakpoint-desktop) {
		width: 15px;
	} */
}
.chevron.unfold::after{
	transform: rotate(180deg);
}

.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}


.toggle{
 
	background: #f7f7f7;
    border-radius: 5px;
    color: #ff6060;
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	height: 0;
	transition: height .5s;
	font-size: 1.3rem;
	margin-top: 1px;
	padding-top:15px;
  }

/* .toggle.unfold{
	height: 5rem;
} */



  .toggle > ul{
	list-style: none;

  }








