.collapsible{
	background-color: white;
}
.chevron{
	display: inline-flex;

	width: 100%;
	justify-content: space-between;
	
	background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
	
}
.chevron::after{
	content:"";
	background-image: url(/public/images/vectorHaut.svg);
	width: 30px;
	height: 30px;
    background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;
    display: block;
    background-position: center;
	/* background-color:grey; */
	color:white;

	/* @media screen and (min-width: $breakpoint-desktop) {
		width: 15px;
	} */
}
.chevron.unfold::after{
	transform: rotate(180deg);
}

.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}


.toggle{
	transition: 0.4s 0.4s ease-in-out;
}