@import '../../css/variables.scss';
@import '../../css/mixinAndFunctions.scss';

.singleproduct {
    .collapse {
        grid-area: collapse1;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .collapse:last-of-type {
        grid-area: collapse2;
    }
}

.collapse {
    width: 100%;
    margin: 20px 0;

    &__visible {
        background: $primary-color;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding: 7px 15px;
        border-radius: 5px;
        width: 100%;
        color: white;
        @include media(desktop) {
            height: 47px;
        }

        h2 {
            font-size: 0.8rem;
            @include media(desktop) {
                font-size: 1.12rem;
            }
        }
    }

    &__toggle {
        opacity: 0;
        color: $primary-color;
        background: #f7f7f7;
        border-radius: 5px;
        transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;

        .infos {
            margin: 0;
            padding: 22px 15px;
            pointer-events: none;
            // font-size: 12px;
            font-size: 0.8rem;
            @include media(desktop) {
                font-size: 1.12rem;
            }
        }
        .listEquipements {
            list-style: none;
        }
    }
}

.animated {
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
    width: 9px;
    transform: rotate(0deg);
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    display: flex;
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    align-items: center;
    padding: 0 1.5rem;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.about-style {
    width: 100%;
    flex-direction: column;
}

.equipList {
    list-style-type: none;
}

.chevron::after {
    content: '\f077';
    font-size: 18px;
    @include media(desktop) {
        font-size: 30px;
    }

    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;
    display: block;
    background-position: center;
    color: white;
}

.chevron.unfold::after {
    transform: rotate(180deg);
}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}
