@import '../../css/variables.scss';
@import '../../css/mixinAndFunctions.scss';

.banner-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
    @include media(desktop) {
        gap: 30px;
    }
    & > a {
        color: $primary-color;
        font-size: 0.75rem;
    }

    @include media(desktop) {
        & > a {
            color: $primary-color;
            font-size: 1.5rem;
        }
    }
}
.banner-container {
    padding: 3rem;
}

.logo {
    height: 47px;
    width: 145px;
    @include media(desktop) {
        width: 210px;
        height: 68px;
    }
}
