/* @import '../../css/mixinAndFunctions.scss'; */
@import '../../css/variables.scss';

.errorContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    gap: 30px;
    // justify-content: space-evenly;
}

.errorTitle {
    font-size: 288px;
    font-weight: 700;
    color: $primary-color;
}

.errorText {
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: $primary-color;
}
